body {
    font-family: "Kanit", sans-serif;
    background-image: url("background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: #bd9d20;
}

.button:active {
    background-color: dark-gold;
    transform: translateY(4px);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 97vh;
    margin: 0 auto;	
}
.item {
    flex: 1;
    margin: 10px;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.bigbutton {
    font-size: 32px;
    font-weight: 700;
    cursor: pointer;
    color: #bd9d20;
    flex: 1;
    background-color: black;
    width: 100%;
    border: none;
    box-sizing: border-box;
}

.bigbutton:hover {
    color: black;
    background-color: #bd9d20;
}

h1 {
    font-weight: 700;
    font-size: 64px;
    color: white;
}

h3 {
    color: #bd9d20;
    font-weight: 400;
}

.block {
    display: block;
    width: 33%;
	
} 

.center {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}

h1:hover {
    text-shadow: 0 0 20px #bd9d20;
}

.pdf {
    width: 100%;
}
